:root {
  --color--button--background: var(--site-global--color-primary-accent-light);
  --color--button--background-hover: var(--site-global--color-primary-accent);
  --color--button--text: var(--site-global--color-basic-black);
}

.button[data-component-theme="inherit"] {
  --color--button--background: var(--site-global--color-primary-accent-light);
  --color--button--background-accent: var(--site-global--color-primary-accent);
  --color--button--text: var(--site-global--color-basic-black);
}

.button[data-component-theme="primary"] {
  --color--button--background: var(--site-global--color-primary-accent-light);
  --color--button--background-accent: var(--site-global--color-primary-accent);
  --color--button--text: var(--site-global--color-basic-black);
}

.button[data-component-theme="secondary"] {
  --color--button--background: var(--site-global--color-secondary-accent-light);
  --color--button--background-accent: var(--site-global--color-secondary-accent);
  --color--button--text: var(--site-global--color-basic-black);
}

.button[data-component-theme="tertiary"] {
  --color--button--background: var(--site-global--color-tertiary-accent-light);
  --color--button--background-accent: var(--site-global--color-tertiary-accent);
  --color--button--text: var(--site-global--color-basic-black);
}

.button[data-component-theme="quaternary"] {
  --color--button--background: var(--site-global--color-quaternary-accent-light);
  --color--button--background-accent: var(--site-global--color-quaternary-accent);
  --color--button--text: var(--site-global--color-basic-black);
}

.button {
  position: relative;
  color: var(--color--button--text);
  background-color: var(--color--button--background);
  cursor: pointer;
  font-size: var(--site-global--font-size--button);
  font-weight: var(--site-global--font-weight--bold);
  border: var(--site-global--border-width) solid transparent;
  display: inline-block;
  color: var(--color--button--text);
  padding: var(--site-button--spacing-vertical) var(--site-button--spacing-horizontal--wide);
  text-decoration: none;
}

.button[data-component-size="small"] {
  font-size: var(--site-global--font-size--button--small);
  padding: var(--site-button--spacing-vertical--half) var(--site-button--spacing-horizontal--half);
}

.button[data-component-size="large"] {
  font-size: var(--site-global--font-size--button--large);
  padding: var(--site-button--spacing-vertical) var(--site-button--spacing-horizontal--extra--wide);
}

.button:hover {
  background-color: transparent;
  border-color:var(--color--button--background-accent);
}

/* Media Queries: hover effects */
@media (prefers-reduced-motion: no-preference) {
  .button:hover {
    transition: all var(--site-global--transition-timing) ease-in-out;
    box-shadow: 0 0 var(--site-global--border-width--thick) var(--site-global--border-width) var(--color--button--background-accent);
  }
}
