.heading[data-component-width="full"] {
  width: 100%;
}

.heading[data-component-width="content"] {
  max-width: var(--site-width--components);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

a.heading__link {
  font-weight: var(--site-global--font-weight--bold);
}
