.text-block {
  width: 100%;
  max-width: 100%;
}

.text-block[data-component-width="content"] {
  max-width: var(--site-width--components);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.text-block[data-component-style="emphasized"] {
  font-weight: var(--site-global--font-weight--bold);
  font-size: var(--site-global--font-size--large);
  line-height: var(--site-global--line-height--loose);
  color: var(--site-global--color-basic-black);
}

.text-block a,
.text-block a:link {
  color: var(--site-global--color-primary-accent-mid);
  text-decoration: underline;
}

.text-block a:hover {
  color: var(--site-global--color-secondary-accent-mid);
  text-decoration: none;
}

.text-block a:visited {
  color: var(--site-global--color-secondary-accent-mid);
  text-decoration: underline;
}

.text-block p {
  width: 100%;
  font-weight: var(--site-global--font-weight--medium);
  max-width: var(--site-width--text);
  margin-block: 0;
}

.text-block p + p,
.text-block + .text-block {
  margin-block-start: var(--space-s);
}

.text-block + .text-with-media,
.text-block + .blockquote__container {
  margin-block-start: var(--space-xl);
}

.banner + .text-block {
  margin-block-start: var(--space-xl);
}

@media screen and (max-width: 1350px) {
  main.home-page .text-block,
  .text-block.intro__paragraph {
    padding-inline-start: var(--space-m);
    padding-inline-end: var(--space-m);
  }
}
