.header {
  width: 100%;
  background-color: var(--color--header--background);
}

.header[data-component-theme="primary"] {
  --color--header--link: var(--site-global--color-primary-accent-dark);
  --color--header--link-hover: var(--site-global--color-primary-accent);
  --color--header--background: var(--site-global--color-primary-accent-lightest);
  --color--header--link-active: var(--site-global--color-primary-accent);
}

.header[data-component-theme="secondary"] {
  --color--header--link: var(--site-global--color-secondary-accent-dark);
  --color--header--link-hover: var(--site-global--color-secondary-accent);
  --color--header--background: var(--site-global--color-secondary-accent-lightest);
  --color--header--link-active: var(--site-global--color-secondary-accent);
}

.header[data-component-theme="tertiary"] {
  --color--header--link: var(--site-global--color-tertiary-accent-dark);
  --color--header--link-hover: var(--site-global--color-tertiary-accent);
  --color--header--background: var(--site-global--color-tertiary-accent-lightest);
  --color--header--link-active: var(--site-global--color-tertiary-accent);
}

.header[data-component-theme="quaternary"] {
  --color--header--link: var(--site-global--color-quaternary-accent-dark);
  --color--header--link-hover: var(--site-global--color-quaternary-accent);
  --color--header--background: var(--site-global--color-quaternary-accent-lightest);
  --color--header--link-active: var(--site-global--color-quaternary-accent);
}

.header__inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  max-width: var(--site-width--inner);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-block-start: var(--site-global--spacing-vertical--half);
  padding-block-end: var(--site-global--spacing-vertical--half);
}

.header__logo {
  flex: 0 250px;
}

.header__logo a {
  display: block;
  line-height: 0;
}

.header__logo svg {
  width: 100%;
  height: auto;
}

.header__nav {
  flex: 1 auto;
}

.header__nav__menu-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.header__nav__menu-links li {
  margin: 0;
  padding: 0;
}

.header__nav__menu-links li a {
  color: var(--color--header--link);
  text-decoration: none;
  font-size: var(--site-global--font-size--base);
  font-weight: var(--site-global--font-weight--bold);
}

.header__nav__menu-links li a.active {
  color: var(--color--header--link-active);
}

.header__nav__menu-links li a:hover {
  color: var(--color--header--link-hover);
}

.header__logo a:hover svg {
  fill: var(--color--header--link-hover);
}

.header__logo a svg path.header__logo__mark {
  scale: 0.98;
}

@media screen and (max-width: 768px) {
  .header__inner {
    flex-flow: column nowrap;
    align-items: center;
    gap: var(--site-global--gap--wide);
  }

  .header__logo {
    flex: 0 auto;
    max-width: 200px;
  }

  .header__nav ul {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  
}

@media (prefers-reduced-motion: no-preference) {
  .header a {
    transition: all var(--site-global--transition-timing) ease-in-out;
  }
  
  .header__logo a:hover svg {
    transition: all var(--site-global--transition-timing) ease-in-out;
  }

  .header__logo a:hover svg path.header__logo__mark {
    animation: pulse var(--site-global--transition-timing) ease-in-out;
  }
}

@media screen and (max-width: 1350px) {
  .header__inner {
    padding: var(--site-global--spacing-vertical--half) var(--site-global--spacing-horizontal--half);
  }
}
