.cards {
  background-color: var(--color--background);
  padding-block-end: var(--space-2xl);
}

.cards__header {
  display: flex;
  width: 100%;
  position: relative;
  background-color: var(--color--background);
}

.cards__header__inner {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--site-global--gap--wide);
  margin-inline: auto;
  padding-block-start: var(--space-2xl);
  width: 100%;

  @media screen and (max-width: 1350px) {
    padding-inline: var(--space-l);
  } 
}

.cards__inner {
  display: flex;
  margin-inline: auto;
  width: 100%;
  
  @media screen and (max-width: 1350px) {
    padding-inline: var(--space-l);
  } 
}

.cards__list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill,minmax(min(18rem,100%),1fr));
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.cards__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  height: 100%;
}

.cards__link {
  color: var(--color--link);
  flex: 0 auto;
  font-size: 1.1rem;
  font-weight: 500;
}

.cards__link:hover {
  color: var(--color--link-hover);
}

.cards__text p {
  margin: 0;
}

.cards__content > *:last-child {
  margin-bottom: var(--space-m);
}
