.places[data-component-theme='primary'] {
  --color--background: var(--site-global--color-primary-accent-lightest);
  --color--text: var(--site-global--color-primary-accent-dark);
  --color--text--hover: var(--site-global--color-primary-accent-dark);
  --color--border: var(--site-global--color-primary-accent-dark);
  --color--layer-1: var(--site-global--color-primary-accent-lightest);
  --color--layer-2: var(--site-global--color-primary-accent-light);
  --color--layer-3: var(--site-global--color-primary-accent);
}

.places[data-component-theme='secondary'] {
  --color--background: var(--site-global--color-secondary-accent-lightest);
  --color--text: var(--site-global--color-secondary-accent-dark);
  --color--text--hover: var(--site-global--color-secondary-accent-dark);
  --color--border: var(--site-global--color-secondary-accent-dark);
  --color--layer-1: var(--site-global--color-secondary-accent-lightest);
  --color--layer-2: var(--site-global--color-secondary-accent-light);
  --color--layer-3: var(--site-global--color-secondary-accent);
}

.places[data-component-theme='tertiary'] {
  --color--background: var(--site-global--color-tertiary-accent-lightest);
  --color--text: var(--site-global--color-tertiary-accent-dark);
  --color--text--hover: var(--site-global--color-tertiary-accent-dark);
  --color--border: var(--site-global--color-tertiary-accent-dark);
  --color--layer-1: var(--site-global--color-tertiary-accent-lightest);
  --color--layer-2: var(--site-global--color-tertiary-accent-light);
  --color--layer-3: var(--site-global--color-tertiary-accent);
}

.places[data-component-theme='quaternary'] {
  --color--background: var(--site-global--color-quaternary-accent-lightest);
  --color--text: var(--site-global--color-quaternary-accent-dark);
  --color--text--hover: var(--site-global--color-quaternary-accent-dark);
  --color--border: var(--site-global--color-quaternary-accent-dark);
  --color--layer-1: var(--site-global--color-quaternary-accent-lightest);
  --color--layer-2: var(--site-global--color-quaternary-accent-light);
  --color--layer-3: var(--site-global--color-quaternary-accent);
}

.places {
  color: var(--color--text);
  position: relative;
  overflow-x: hidden;
  min-height: 500px;
 }

.places__bg {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  height: 100%;
  width: max(200%, 100rem);
  opacity: 0.3;
  z-index: 0;
}

.places p {
  margin: 0;
}

.places__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--site-global--spacing-vertical);
  margin: 0 auto;
  max-width: var(--site-width--inner);
  padding-block-start: var(--site-global--spacing-vertical--wide);
  padding-block-end: var(--site-global--spacing-vertical--wide);
  position: relative;
  z-index: 1;
}

[data-component-width="inner"] .places__inner {
  max-width: var(--site-width--inner);
}

[data-component-width="components"] .places__inner {
  max-width: var(--site-width--components);
}

.places__label {
  font-size: var(--site-global--font-size--label);
  font-weight: var(--site-global--font-weight--bold);
  color: var(--color--text);
}

.places__selected-item {
  display: flex;
  flex-direction: column;
  gap: var(--site-global--gap);
}

.places__input {
  display: flex;
  flex-direction: row;
  gap: var(--site-global--gap);
  align-items: center;
}

.places__input-field {
  font-size: var(--site-global--font-size--label);
  font-weight: var(--site-global--font-weight--bold);
  color: var(--color--text);
  padding-inline-start: var(--site-global--spacing-horizontal--half);
  padding-inline-end: var(--site-global--spacing-horizontal--half);
  padding-block-start: var(--site-global--spacing-vertical--half);
  padding-block-end: var(--site-global--spacing-vertical--half);
  border-radius: var(--site-global--border-radius);
  border: var(--site-global--border-width) solid var(--color--border);
}

.places__input-field:focus-visible {
	outline: var(--site-focus-outline--width) solid var(--site-focus-outline--color);
	outline-offset: 0.125rem;
}

/* The animated SVG was inspired by this codepen: 
** https://codepen.io/enbee81/pen/oggMvoz
*/
@media (prefers-reduced-motion: no-preference) {
  .places__bg {
    animation: animate-waves var(--site-global--transition-timing--slow) ease alternate infinite;
  }
}
