
:root {
  --color--card--background: var(--site-global--color-primary);
  --color--card--background-accent: var(--site-global--color-basic-white);
  --color--card--border: var(--site-global--color-primary-accent);
  --color--card--text: var(--site-global--color-basic-black);
  --color--card--title: var(--site-global--color-primary-accent-dark);
  --color--card--title-hover: var(--site-global--color-primary-accent);
  --color--card--link: var(--site-global--color-primary-accent-dark);
  --color--card--link-hover: var(--site-global--color-primary-accent-dark);
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  color: var(--color--card--text);
  max-width: var(--card-width--content);
  border: var(--site-global--border-width) solid var(--site-global--color-basic-gray-90);
}

.card[data-component-theme="primary"] {
  --color--card--background: var(--site-global--color-primary);
  --color--card--border: var(--site-global--color-primary-accent);
  --color--card--title: var(--site-global--color-primary-accent-dark);
  --color--card--title-hover: var(--site-global--color-primary-accent);
  --color--card--link: var(--site-global--color-primary-accent-dark);
  --color--card--link-hover: var(--site-global--color-primary-accent);
}

.card[data-component-theme="secondary"] {
  --color--card--background: var(--site-global--color-secondary);
  --color--card--border: var(--site-global--color-secondary-accent);
  --color--card--title: var(--site-global--color-secondary-accent-dark);
  --color--card--title-hover: var(--site-global--color-secondary-accent);
  --color--card--link: var(--site-global--color-secondary-accent-dark);
  --color--card--link-hover: var(--site-global--color-secondary-accent);
}

.card[data-component-theme="tertiary"] {
  --color--card--background: var(--site-global--color-tertiary);
  --color--card--border: var(--site-global--color-tertiary-accent);
  --color--card--title: var(--site-global--color-tertiary-accent-dark);
  --color--card--title-hover: var(--site-global--color-tertiary-accent);
  --color--card--link: var(--site-global--color-tertiary-accent-dark);
  --color--card--link-hover: var(--site-global--color-tertiary-accent);
}

.card[data-component-theme="quaternary"] {
  --color--card--background: var(--site-global--color-quaternary);
  --color--card--border: var(--site-global--color-quaternary-accent);
  --color--card--title: var(--site-global--color-quaternary-accent-dark);
  --color--card--title-hover: var(--site-global--color-quaternary-accent);
  --color--card--link: var(--site-global--color-quaternary-accent-dark);
  --color--card--link-hover: var(--site-global--color-quaternary-accent);
}

.card__image {
  aspect-ratio: 16 / 9;
  background-color: var(--color--card--background);
  line-height: 0;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__image__link {
  display: block;
  line-height: 0;
}

.card__content {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--site-global--gap--type);
  padding: var(--site-global--spacing-vertical--half) var(--site-global--spacing-horizontal);
  height: 100%;
}

[data-component-width="full"] .card__content {
  padding: var(--site-global--spacing-vertical) var(--site-global--spacing-horizontal);
}

.card__heading,
.card__heading__link {
  color: var(--color--card--title);
  font-size: var(--site-global--font-size--h3);
}

.card__text {
  flex: 1 0 auto;
}

.card__paragraph {
  margin: 0;
}

.card:hover {
  box-shadow: 0 0 var(--site-global--border-width--thick) var(--site-global--border-width) var(--color--card--background);
  border-color: var(--color--card--border);
}

.card:hover img {
  opacity: 0.8;
}

.card:hover .card__heading__link {
  text-decoration: none;
  color: var(--color--card--title-hover);
}

/* Media Queries: hover effects */
@media (prefers-reduced-motion: no-preference) {

  .card[data-component-animation="true"] {
    transition: all var(--site-global--transition-timing) ease-in-out;
  }

  .card[data-component-animation="true"]:hover {
    animation: pulse var(--site-global--transition-timing) ease-in-out;
  }
  .card[data-component-animation="true"]:hover .card__heading__link,
  .card[data-component-animation="true"]:hover img {
    transition: all var(--site-global--transition-timing) ease-in-out;
  }
}
