.checkbox__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkbox__item {
  display: flex;
  padding-block-start: var(--site-global--spacing-form-items);
  padding-block-end: var(--site-global--spacing-form-items);
  border-bottom: 1px solid var(--site-global--color-basic-light);
}

.checkbox__item__label {
  display: flex;
  gap: var(--site-global--gap);
  align-items: center;
  font-size: var(--site-global--font-size--base);
  font-weight: var(--site-global--font-weight--normal);
}
