.responsive-image {
  transition: filter var(--site-global--transition-timing) ease-out, opacity var(--site-global--transition-timing) ease-out;
  filter: blur(10px);
  opacity: 0.5;
}

.responsive-image.loaded {
  filter: blur(0);
  opacity: 1;
}

picture {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
  max-width: var(--site-width--wide);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

figure {
  display: flex;
  flex-flow: column wrap;
  gap: var(--site-global--gap);
  margin: 0;

  picture {
    margin-block-start: var(--site-global--spacing-vertical);
    
    @media screen and (max-width: 1350px) {
      padding-inline-start: var(--site-global--spacing-horizontal--half);
      padding-inline-end: var(--site-global--spacing-horizontal--half);
    }
  }
}

figcaption {
  color: var(--site-global--color-basic-gray-30);
  width: 100%;
  max-width: var(--site-width--wide);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: var(--site-global--spacing-horizontal--half);
  padding-inline-end: var(--site-global--spacing-horizontal--half);
}
