.text-with-media[data-component-theme='primary'] {
  --color--background: var(--site-global--color-primary-accent-lightest);
  --color--text: var(--site-global--color-primary-accent-dark);
  --color--text--hover: var(--site-global--color-primary-accent-dark);
  --color--border: var(--site-global--color-primary-accent-dark);
}
.text-with-media[data-component-theme='secondary'] {
  --color--background: var(--site-global--color-secondary-accent-lightest);
  --color--text: var(--site-global--color-secondary-accent-dark);
  --color--text--hover: var(--site-global--color-secondary-accent-dark);
  --color--border: var(--site-global--color-secondary-accent-dark);
}
.text-with-media[data-component-theme='tertiary'] {
  --color--background: var(--site-global--color-tertiary-accent-lightest);
  --color--text: var(--site-global--color-tertiary-accent-dark);
  --color--text--hover: var(--site-global--color-tertiary-accent-dark);
  --color--border: var(--site-global--color-tertiary-accent-dark);
}
.text-with-media[data-component-theme='quaternary'] {
  --color--background: var(--site-global--color-quaternary-accent-lightest);
  --color--text: var(--site-global--color-quaternary-accent-dark);
  --color--text--hover: var(--site-global--color-quaternary-accent-dark);
  --color--border: var(--site-global--color-quaternary-accent-dark);
}

.text-with-media {
  background-color: var(--color--background);
  color: var(--color--text);
  overflow: hidden;
}

.text-with-media__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: var(--site-global--spacing-vertical);
  margin: 0 auto;
  max-width: var(--site-width--inner);
  padding-block-start: var(--site-global--spacing-vertical--wide);
  padding-block-end: var(--site-global--spacing-vertical--wide);
}

.text-with-media__content {
  display: flex;
  flex-direction: column;
  gap: var(--site-global--spacing-vertical--half);
}

[data-component-width="inner"] .text-with-media__inner {
  max-width: var(--site-width--inner);
}

[data-component-width="components"] .text-with-media__inner {
  max-width: var(--site-width--components);
}

.text-with-media__link[data-component-theme="inherit"] {
  --color--button--background: var(--color--text);
  --color--button--background-accent: var(--color--text--hover);
  --color--button--text: var(--color--background);

  &:hover {
    color: var(--color--text--hover);
    border-color: var(--color--border);
  }
}

.text-with-media__media {
  width: 100%;
  max-width: 600px;
}

@media (width < 768px) {
  .text-with-media__inner {
    flex-direction: column;
  }

  .text-with-media__content {
    padding-inline-start: var(--site-global--spacing-horizontal);
    padding-inline-end: var(--site-global--spacing-horizontal);
  }
}

@media (width > 769px) {
  [data-component-alignment="right"] .text-with-media__inner {
    flex-direction: row-reverse;
  }
}
