.text-with-media {
  background-color: var(--color--background);
  color: var(--color--text);
  overflow: hidden;
  padding-block: var(--space-2xl);
}

.text-with-media__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
  max-width: var(--site-width--inner);
}

.text-with-media__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-m);
}

[data-component-width="inner"] .text-with-media__inner {
  max-width: var(--site-width--inner);
}

[data-component-width="components"] .text-with-media__inner {
  max-width: var(--site-width--components);
}

[data-component-width="wide"] .text-with-media__inner {
  max-width: var(--site-width--wide);
}

[data-component-width="full"] .text-with-media__inner {
  max-width: var(--site-width--full);
}

.text-with-media__link[data-component-theme="inherit"] {
  --color--button--background: var(--color--text);
  --color--button--background-accent: var(--color--text--hover);
  --color--button--text: var(--color--background);

  &:hover {
    color: var(--color--text--hover);
    border-color: var(--color--border);
  }
}

.text-with-media__media {
  width: 100%;
}

.text-with-media__shapes {
  display: none;
  
  @media (width > 769px) {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-width: var(--site-width--inner);
  }
}

.text-with-media__shape_one {
  position: absolute;
  top: var(--space-m);
  width: var(--space-s);
  height: 75%;
  background-color: var(--color--background-accent-3);
  opacity: 0.8;
  z-index: 100;
  
  
  [data-component-alignment="left"] & {
    left: calc(var(--space-xs) * -1);
  }
    
  [data-component-alignment="right"] & {
    right: calc(var(--space-xs) * -1);
  }
}

.text-with-media__shape_two {
  position: absolute;
  top: var(--space-xs);
  width: var(--space-xs);
  height: 75%;
  background-color: var(--color--background-accent-2);
  opacity: 0.9;
  
  [data-component-alignment="left"] & {
    left: var(--space-xs);
  }
  
  [data-component-alignment="right"] & {
    right: var(--space-xs);
  }
}

.text-with-media__shape_three {
  position: absolute;
  top: var(--space-l);
  width: var(--space-2xs);
  height: 50%;
  background-color: var(--color--background-accent);
  opacity: 0.8;
  
  [data-component-alignment="left"] & {
    left: var(--space-l);
  }
  
  [data-component-alignment="right"] & {
    right: var(--space-l);
  }
}

@media (width < 768px) {
  .text-with-media__inner {
    flex-direction: column;
  }
}

@media (width > 769px) {
  [data-component-alignment="right"] .text-with-media__inner {
    flex-direction: row-reverse;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .text-with-media {
    view-timeline-name: --text-with-image-bars;
    view-timeline-axis: block;
  }

  .text-with-media__shape_one {
    animation: parallax-up linear both;
    animation-timeline:  --text-with-image-bars;
    animation-range: entry 0% cover 50%; /* tune to taste */
    will-change: transform;
  }
  
  .text-with-media__shape_two {
    animation: parallax-down linear both;
    animation-timeline:  --text-with-image-bars;
    animation-range: entry 0% cover 50%; /* tune to taste */
    will-change: transform;
  }
  
  .text-with-media__shape_three {
    animation: parallax-up-2 linear both;
    animation-timeline:  --text-with-image-bars;
    animation-range: entry 0% cover 50%; /* tune to taste */
    will-change: transform;
  }
}

/* text-with-media__shape_one */
@keyframes parallax-up { 
  from { 
    transform: translateY(var(--space-m)); 
  }
  to   { 
    transform: translateY(-25%); 
  }
}

/* text-with-media__shape_two */
@keyframes parallax-down {
  from { 
    transform: translateY(var(--space-xs)); 
  }
  to   { 
    transform: translateY(25%); 
  }
}

/* text-with-media__shape_three */
@keyframes parallax-up-2 {
  from { 
    transform: translateY(0);
  }
  to   { 
    transform: translateY(-18%);
  }
}
