.callout {
  position: relative;
  color: var(--color--text);
  background-color: var(--color--background);
}

.callout::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--site-global--border-width--thicker);
  width: 0;
  background-color: var(--color--border);
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .callout[data-component-animation="true"]::after {
    transition: width var(--site-global--transition-timing) ease-in-out;
  }
}

.callout[data-component-alignment="right"] {
  text-align: right;
}

.callout[data-component-alignment="left"] {
  text-align: left;
}

.callout[data-component-alignment="center"] {
  text-align: center;
}

.callout__content {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--site-global--gap--type);
  padding: var(--site-global--spacing-vertical--wide) var(--site-global--spacing-horizontal);
  max-width: var(--cta-width--content);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.callout__heading,
.callout__heading__link {
  color: var(--color--title);
  font-size: var(--site-global--font-size--h2);
}

.callout__link {
  font-size: var(--site-global--font-size--button);
  font-weight: var(--site-global--font-weight--bold);
  display: inline-block;
  padding: var(--site-global--spacing-1) var(--site-global--spacing-2);
  text-decoration: none;
}

.callout__text p {
  margin: 0;
  font-size: var(--site-global--font-size--large);
}

.callout:hover::after {
  background-color: var(--color--border);
  width: 100%;
}

.callout .callout__link:hover {
  background-color: transparent;
  border-color: var(--color--border);
  color: var(--color--link-hover);
}

.callout:hover img {
  opacity: 0.8;
}

/* Media Queries: hover effects */
@media (prefers-reduced-motion: no-preference) {
  .callout[data-component-animation="true"] .callout__link:hover,
  .callout[data-component-animation="true"]:hover img {
    transition: all var(--site-global--transition-timing) ease-in-out;
  }
}
