#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--site-width--full);
  margin: 0 auto;
}

.inner__layout {
  display: flex;
  flex: 1 0 auto;
}

.intro__heading {
  max-width: var(--site-width--components);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

main {
  width: 100%;
  flex: 1 0 auto;
}

main.page {
  padding-block-start: var(--site-global--spacing-vertical);
  padding-block-end: var(--site-global--spacing-vertical);
}

.page img {
  width: 100%;
  height: auto;
  max-width: var(--site-width--full);
}

@media screen and (max-width: 1350px) {
  main.page .intro__heading {
    padding-inline-start: var(--site-global--spacing-horizontal--half);
    padding-inline-end: var(--site-global--spacing-horizontal--half);
  }

  main.page .text-block {
    padding-inline-start: var(--site-global--spacing-horizontal--half);
    padding-inline-end: var(--site-global--spacing-horizontal--half);
  }
}
