#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--site-width--full);
  margin: 0 auto;
}

.intro__heading {
  max-width: var(--site-width--components);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

main {
  flex: 1 0 auto;
}

main.home-page {
  padding-block-start: var(--site-global--spacing-vertical);
  padding-block-end: var(--site-global--spacing-vertical);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
