#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--site-width--full);
  margin: 0 auto;
}

.inner__layout {
  display: flex;
  flex: 1 0 auto;
}

main {
  width: 100%;
  flex: 1 0 auto;
}

main.page {
  padding-block-start: var(--site-global--spacing-vertical);
  padding-block-end: var(--site-global--spacing-vertical);
}

.page img {
  width: 100%;
  height: auto;
  max-width: var(--site-width--full);
}

